/* Generales */
.center {
  text-align: center;
}

/* Logos de inicio */
.image-cont img {
  width: 100%;
}

.logos-container {
  overflow: hidden;
}

.logo-single {
  float: left;
  width: 33.33%;
}

.menu-main-menu-container {
  margin-right: 60px !important;
}

/* Overlay logos */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100% !important;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #58b32b;
}

.image-cont:hover .overlay {
  opacity: 1;
}

.image-cont {
  position: relative;
  cursor: pointer;
}

.overlay-cont {
  width: 100%;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-cont p {
  font-size: 15px;
  line-height: 16px;
  position: absolute;
}

/* Header nuevo */
.main-header-area {
  background: url(../content/eco/images/header.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 500px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-title-cont {
}

.main-title-cont h1 {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px #000;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 15px;
}

.main-title-cont p {
  text-align: center;
}

.main-title-cont h3 {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px #000;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  font-family: "Lato";
  font-weight: 100;
  font-size: 18px;
  line-height: 20px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.divider-cont {
  width: 100%;
}

.image-cont-line img {
  width: 100%;
  height: 40px;
}

.image-cont-line {
  width: 1px;
  margin: 0 auto;
}

.strada-logo {
  width: 100%;
  margin-bottom: 10px;
}

.strada-logo-cont img {
  width: 100%;
}

.strada-logo-cont {
  width: 35%;
  margin: 0 auto;
}

/* Logo */
.logo-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.logo-cont img {
  width: 100%;
  height: auto !important;
}

.logo-cont {
  width: 100px;
  margin-top: -10px;
}

@media (max-width: 768px) {
  .responsive-menu-toggle {
    margin-top: -5px !important;
  }
}

@media (min-width: 768px) {
  .responsive-menu-toggle {
    margin-right: -122px;
  }
  .logo-single {
    width: 20%;
  }

  .logo-single .image-cont {
    width: 50%;
    margin: 0 auto;
  }

  .overlay-cont p {
    font-size: 10px;
    line-height: 12px;
  }

  .main-title-cont {
    margin-top: 150px;
  }

  .main-title-cont {
    padding: 0 150px;
  }

  /* Logo */
  .logo-cont {
    width: 100px;
    margin-top: 0px;
  }

  .responsive-menu-toggle {
    margin-top: 5px !important;
  }
  .responsive-menu-toggle {
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .image-cont {
    margin-bottom: 20px !important;
  }

  .overlay-cont p {
    font-size: 15px;
    line-height: 17px;
  }

  .logo-sticky {
    margin-top: -5.5px;
  }

  /* Header */
  .main-header-area {
    height: 780px;
  }

  .main-title-cont h1 {
    font-size: 67px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 30px;
  }

  .main-title-cont h3 {
    font-size: 25px;
    line-height: 30px;
    padding: 0 40px;
  }

  .image-cont-line img {
    height: 100px;
  }

  .image-cont-line {
    width: 2px;
  }

  .strada-logo-cont {
    width: 20%;
  }

  /* Logo */
  .main-logo {
    width: 45%;
    float: left;
  }

  .logo-cont {
    margin-top: -2px;
  }
  .menu_wrapper {
    margin-right: -200px;
  }
}

@media (min-width: 1024px) {
  .responsive-menu-toggle {
    right: 30px !important;
  }
  .menu-main-menu-container {
    margin-right: 120px !important;
  }
  .main-title-cont h1 {
    font-size: 50px;
  }
}
